/* CSS files add styling rules to your content */

body {
  font-family: monospace;
  margin: 0;
}

section {
  margin: 0 20vw;
}

main {
  margin-top: 20vh;
}

section.bio-section {
  
}

ul.bio-section-links {
  display: flex;
}

ul.bio-section-links li {
  list-style-type: none;
  margin: 1em 1em;
}

@media-rule (min-width: 768px) {
  
}
